/*-- ========   IMPORT OF GOOGLE  FONT FAMILY======*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka:wght@300&family=Roboto:wght@100&display=swap');


/*-- ========  VARIABLE CSS======*/

:root {

    --header-heigh: 3.5rem;

    /*--=== CLOROS-====== */ 
--first-color:  hsl(273, 97%, 66%); 
--first-color-shape: hsl(253, 33%, 32%);
--tittle-color: hsl(273, 8%, 15%); 
--text-color:hsl(273, 4%, 45%); 
--body-color:hsl(273, 100%, 99%);
--container-color: #fff;
--tittle-color-dark:hsl(273, 83%, 98%);
--text-color-dark:hsl(273, 21%, 56%);
--container-color-dark:hsl(273, 80%, 14%);



/*-===== FONT AND TYPOGRAPHY==== */ 

--body-font: 'Poppins', sans-serif;
  --big-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  /*========== z index ==========*/
  --z-fixed: 100%;

}


@media screen and  (min-width: 968px) {
:root {

    --big-font-size: 2rem;
    --normal-font-size: 1rem; 
    --small-font-size: .875rem;
}

}


/*======BASE===== */  

* {

box-sizing: border-box;
padding: 0;
margin: 0;

}


html {

    scroll-behavior: smooth;
    overflow-x: hidden;
}



body {

    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    overflow-x: hidden;
    height: 100%;
    width: 100%;

}


h1, h2, h3 {

    color: var(--tittle-color);
}

ul {

    list-style: none;
}

a {
    text-decoration: none;
}



img {
    width: 90%;
    height: 50%;
    position: relative;
    bottom: 20px;

    
}


hr {

    margin: 90px;
    position: relative;
    right: 100;
    background-color: blue;

}


.searchbar{

    position: relative;
    left: 430;



}
.nav_data {

margin: 25px;



}

.nav_name {

    border: dotted;
    width: 50px;
    background-color: cornflowerblue;

}

.container {

    max-width: 1024px;
    margin-left: 1.5rem;
    margin-left: 1.5rem;
}


.section {
    padding:  4.5rem 0 1rem;
}


.section_container {

    height: 20vh;
}



.footer {

    height:100%;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 92%;
    letter-spacing: 1px;
    border: solid blue;
    background-color: cornflowerblue;
    color: whitesmoke;
    
}

.align {

    position: relative;
    top: 8;
}



.buttons {

    text-align: right;
    padding: 0.4rem;
    position: relative;
    width: 90vw;
    height: 5vh;
    font-size: 12px;

}




.icon {

    position: relative;
    top: 5;
}

.arrow {
    position: relative;
    top: 8;
}

.skills1:hover{
color: blue;
cursor: pointer;


}


#search_button:hover {

    color: blue;
    cursor: pointer;
}



.share-price {



    border: solid blue;
    width: 250px;
    height: 25px;
    background-color: yellow;
    font-weight: 500;
    border-radius: 5px;


}
